DATABASE_URL=postgresql://postgres:postgres@db:5432/permanent_underclass_development
TEST_DATABASE_URL=postgresql://postgres:postgres@db:5432/permanent_underclass_test
APP_HOST=permanentunderclass.me
MAILER_FROM=noreply@permanentunderclass.me
FORCE_SSL=true
ACTIVE_STORAGE_SERVICE=r2
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_BUCKET=
R2_SECRET_ACCESS_KEY=
TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
SMTP_ADDRESS=
SMTP_DOMAIN=mail.permanentunderclass.me
SMTP_PASSWORD=
SMTP_PORT=587
SMTP_USERNAME=
