<p><%= t("mailers.user_mailer.password_reset.greeting", pseudonym: @user.pseudonym) %></p>

<p><%= t("mailers.user_mailer.password_reset.body") %></p>

<p><%= link_to t("mailers.user_mailer.password_reset.cta"), @password_reset_url %></p>

<p><%= t("mailers.user_mailer.password_reset.expiry") %></p>
