<% if flash.any? %>
  <div class="flash-stack" aria-live="polite">
    <% flash.each do |type, message| %>
      <p class="flash flash--<%= type %>"><%= message %></p>
    <% end %>
  </div>
<% end %>
